* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.sit-header {
  background-color: #f4978e;
  margin: 0;
  margin-right: 0;
}

.cart-icon,
.wishlist-icon {
  background-color: antiquewhite;
  padding: 8px;
  border-radius: 50%;
  display: flex;
}

.header-icon {
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
  color: #030302;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-btns {
  margin: 70px auto !important;
}

/* //===============================================
        Products List    
=================================================*/
.section__1 {
  margin: auto !important;
}
.section__1-products {
  list-style-type: none;
}

.section__1-product {
  /* background-color: hsl(110deg, 50%, 96%); */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(41, 41, 41);
  overflow: hidden;
}
.product__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 250ms linear;
}

.product__info {
  padding: 10px !important;
}

/* =============================================
// Hover Effects
================================================*/
.header-icon:focus,
.header-icon:hover {
  background-color: #c9184a;
  color: #fff;
  cursor: pointer;
}

.tab-btn:hover {
  background-color: #c9184a;
  color: #fff;
}
.product__image:hover {
  transform: scale(105%);
}

/* ============================================
BUTTONS
================================================*/
.btn--primary {
  background-color: #c9184a;
  color: #fff;
}
.btn--primary:hover,
.btn--primary:focus {
  border: 1px solid #c9184a;
  color: #c9184a;
  background-color: transparent;
}

.btn-add-to-wish-list,
.btn-add-to-cart {
  padding: 8px !important;
  width: 100%;
}

.tab-btn {
  width: 100%;
  background-color: transparent;
  border: 1px solid #c9184a;
  color: #c9184a;
  padding: 8px !important;
  text-transform: uppercase;
}

.sidebar__close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #c9184a;
  width: 50px;
  height: 50px;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  border-radius: 50%;
}
.sidebar__close-btn:focus,
.sidebar__close-btn:hover {
  background-color: transparent;
  border: 1px solid #c9184a;
  color: #c9184a;
}

.cart-item-delete-btn .bi:hover {
  color: red;
  cursor: pointer;
}

.btn-go-to-cart {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem !important;
  background-color: #c9184a;
  width: 300px;
  border-radius: 30px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 2px;
}
.sidebar__checkout-btn {
  padding: 1rem !important;
  background-color: #c9184a;
  width: 300px;
  border-radius: 30px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 2px;
}

/* ==========================================
 General
=========================================*/
.hidden {
  display: none;
}

.active-tab {
  background-color: #c9184a;
  color: #fff;
  border: 1px solid #c9184a;
}
.side-bar-shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 95;
}
/* ==========================================
SIDEBAR
==========================================*/
.sidebar {
  transform: translateX(100%);
  transition: all 250ms linear;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgb(25, 25, 25);
  z-index: 99;
}

.show-side-bar {
  transform: translateX(0%);
}
/* ==================================
  Shopping Cart
=====================================*/

.shopping-cart {
  margin-top: 5rem !important;
}
.shopping-cart__items {
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 28rem !important;
}
.shopping-cart__item {
  padding: 1rem !important ;
  border-bottom: 1px solid #3333;
}
.shopping-cart__item-image {
  object-fit: cover;
}

/* =========================
// WishList
======================*/
.wish-list {
  margin-top: 2.3rem !important;
  padding-bottom: 2rem !important;
}
.wish-list__items {
  overflow: scroll;
  max-height: 100vh;
}

/* =================================
====================================*/
.sidebar__checkout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1rem 2rem 1rem !important;
  text-align: center;
  /* box-shadow: 0 0 9px #999999b3; */
}
.sidebar__checkout-info {
  margin-bottom: 2rem !important;
  background-color: #d3d2d2;
  padding: 2rem !important;
  border-radius: 8px;
}
.sidebar__checkout-total-items,
.sidebar__checkout-discount,
.sidebar__checkout-total-price {
  border-bottom: 1px solid #000;
}

/* ===========================
// conformation
===========================*/

.conform-checkout {
  position: fixed;
  z-index: 110;
  max-width: 500px;
  background-color:#c9184a;
  color:#fff;
  left: 50%; 
   top: 50%;
  padding: 3rem !important;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.conform-checkout button{
  display: inline-block;
  background-color: #fff;
  width: 50%;
  padding: 12px !important;

}

.conform-checkout button:hover, 
.conform-checkout button:focus {
  background-color: transparent;
  border:1px solid #fff;
  color:#fff;
}

.checkout-message-shadow{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  background-color: #0a0a0a63;
  z-index: 105;
}

#footer {
  background-color: #f4978e;
  font-size: 1.6rem;
  margin: 0;
}
